<!doctype html>
<html lang="en">
  <head>
{{>headerlinks}}
  </head>
  <body>
    
    {{>navbar}}
      <div class="container aboutcontent" >
        <div class="aboutleft">
            <figure>
                <img src="assests/images/about.png" alt="" srcset="">
            </figure>
        </div>
        <div class="aboutright">
            <h2> <i class="fa-solid fa-face-awesome"></i> Hey I am Ayush Shukla</h2>
            <p>Hey I am mern stack developer with this advance project of frontend <br>Check out my profile</p>
            <button class="btn btn-danger">profile</button>
        </div>
      </div>
 {{>footer}}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
  </body>
</html>
